<div class="container">
  <h1>Detalle del personage de Ryck y Morty</h1>
  <section class="btn-group">
    <button [routerLink]="'/'" mat-flat-button color="warn" class="mat-elevation-z3">
      <mat-icon>reply</mat-icon>
      Back
    </button>
  </section>

  <ng-container *ngIf="character">
    <mat-card class=" animate__animated animate__bounce animate_fadeIn">
      <img [src]="character.image" alt="Character Image" class="character-image" />
      <mat-card-content>
        <h2>{{ character.name }}</h2>

      </mat-card-content>
    </mat-card>
  </ng-container>

</div>
