.card {
  width: 250px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 16px 10px 0 10px;
  gap: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.card-img{
  width: 200px;
  height: 200px;
  object-fit:  cover;
  /*aspect-ratio: 1/1;*/
  margin: 0 auto;
  border-radius: 8px;
}

.card-content{
  max-width: 200px;
  width: 100%;
  margin: 0 auto;

}
